<%= form_with(model: keyword) do |form| %>
  <% if keyword.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>

      <ul>
        <% keyword.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :target_url, style: "display: block" %>
    <%= form.text_field :target_url %>
  </div>

  <div>
    <%= form.label :search_engine, style: "display: block" %>
    <%= form.text_field :search_engine %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
